.rectangle{
  width: 400px;
  height: 100px;
  border: 2px solid black;
  background: red;
}
.triangle{
  width: 0px;
  border:20px solid transparent;
  border-top-color: #000;
  left: 195px;
  position: absolute;
}
.triangle_inner{
  width: 0px;
  border:20px solid transparent;
  border-top-color: red;
  left: -20px;
  top:-23px;
  position: absolute;
}


.dialog {
  width: 250px;
  height: 25px;
  background: #6a6;
  line-height: 25px;
  color: #cccccc;
  padding: 10px;
  border-radius: 6px;
  position: relative;

  margin-left: 20px;
}
.dialog::before {
  content: "";
  width: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid #6a6;
  border-bottom: 10px solid transparent;
  position: absolute;
  left: -10px;
  top: 14px;
}

